table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td{
    width: 20px;
    height: 20px;
}

.fly{
    background: green;
    content: '@';
}

.checked-pie{
    background: grey;
}

.poision{
    background: brown;
}